.actionButton {
    -moz-box-shadow:inset 1px 1px 0px -50px gray;
    -webkit-box-shadow:inset 1px 1px 0px -50px gray;
    box-shadow:inset 1px 1px 0px -50px gray;
    background-color:#73B05E;
    -moz-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:8px;
    border:1px solid gray;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:1px 7px;
    text-decoration:none;
    text-shadow:1px 1px 0px gray;
    margin: 2px 0px 2px 0px;
}.actionButton:hover {
    background-color:#73D05E;
}.actionButton:active {
    position:relative;
    top:1px;
}