/*
      Created by Keith Donegan of Code-Sucks.com
          
          E-Mail: Keithdonegan@gmail.com
          
          You can do whatever you want with these layouts,
          but it would be greatly appreciated if you gave a link
          back to http://www.code-sucks.com
          
*/

* { padding: 0; margin: 0; }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
#wrapper { 
    margin: 0 auto;
    width: 922px;
}
#faux {
    background: url(images/faux-1-3-col.gif);
    margin-bottom: 5px;
    overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
    width: 100%
}
#header {
    color: #333;
    width: 902px;
    padding: 10px;
    height: 80px;
    margin: 10px 0px 5px 0px;
    /* background: #ABBEBE; */
    background: #006699;

}
#leftcolumn { 
    display: inline;
    color: #333;
    margin: 10px;
    padding: 0px;
    width: 195px;
    float: left;
}

#content { 
    float: left;
    color: #333;
    margin: 10px 13px;
    padding: 0px;
    width: 460px;
    display: inline;
    position: relative;
}
#rightcolumn { 
    display: inline;
    position: relative;
    color: #333;
    margin: 10px 10px 10px 0px;
    padding: 0px;
    width: 195px;
    float: right;
}
#footer { 
    width: 902px;
    clear: both;
    color: #333;
    background: #ABBEBE;
    margin: 0px 0px 10px 0px;
    padding: 10px;
}

.highlighted {
    background: #ABBEBE;
    padding: 2px;
}

h2 {
    margin: 2px 2px 2px 0px;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } 
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} 
.datagrid table tfoot td { padding: 0; font-size: 12px } 
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}

.actionButton {
    -moz-box-shadow:inset 1px 1px 0px -50px #bbdaf7;
    -webkit-box-shadow:inset 1px 1px 0px -50px #bbdaf7;
    box-shadow:inset 1px 1px 0px -50px #bbdaf7;
    background-color:#006699;
    -moz-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:11px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:1px 7px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
    margin: 2px 0px 2px 0px;
}.actionButton:hover {
    background-color:#378de5;
}.actionButton:active {
    position:relative;
    top:1px;
}

.clear { clear: both; background: none; }